@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020202;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: scroll; Allows scrolling */
  /* overflow-x: hidden; */
  /* overflow: hidden;  Prevent the entire page from scrolling */
  overflow-y: hidden;
  /* overflow-x: hidden; */
 
  
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit-based browsers */
}

.scroll{
  overflow-y: auto;
}
.scrollable-container {
  height: calc(99vh - 146px); /* Adjust the height to fit in the screen */
   /* Or whatever height you want */
  overflow-y: auto; /* Allows vertical scrolling */
   /* Prevents horizontal scrolling */
  
}
.height{
  height: calc(99vh - 146px);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


* {
  box-sizing: border-box;
}

.audio-player {
  padding: 10px;  /* Adjust padding as needed */
}

/* @layer utilities {
.podcast_grid {
  @apply grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
} */
/* .image_div {
  @apply flex-center mt-5 h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed border-black-6 bg-black-1;
} */
/* Main content container */
.main-content {
  flex: 1;  /* Take remaining space after the sidebar */
  height: 100vh;  /* Full viewport height */
   /* Allow scrolling inside the main content */
  padding-bottom: 60px;  /* Ensure the bottom bar doesn't overlap */
}


/* Custom styles for the progress bar thumb */
/* input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff; 
  border: none;
  cursor: pointer;
} */


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  transition: width 0.2s, height 0.2s, background 0.2s;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:active::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  background: #ffffff;
  cursor:pointer
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.no-play {
  cursor: not-allowed; /* or you can use "cursor: url('path-to-your-x-cursor.png'), auto;" */
}

.star-rating {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.star {
  font-size: 30px;
  color: gray;
  transition: color 0.3s ease;
}

.star.filled {
  color: gold;
}

.rating-text {
  margin-left: 10px;
  font-size: 16px;
  color: #ffffff;
}
